* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  width: 100%;
  height: 130px;
  /* align-items: center;
  justify-content: space-around;
  font-weight: 300;
  /* flex: 1; */
  /* gap: 40px; */
  display: flex;
  padding: 2%;
  /* background-color: #8ad1e2; */
}
.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  flex: 4;
  flex-direction: row;
  align-items: center;
  padding: 0 4%;
  justify-content: space-around;
}

.genericButton {
  width: 96px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #19bce4;
  color: #fff;
}
.header {
  width: 100%;
  height: 700px;
  background-image: url(./newfig1.jpeg);
  background-size: cover;
  /* position: relative; */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.headerText {
  /* margin-top: -200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex-wrap: wrap;
  gap: 40px;
}
.searchdiv {
  width: 85%;
  display: flex;
  /* margin-top: 100px; */
  height: 118px;
  background-color: #fff;
  align-items: center;
  color: #000;
  justify-content: space-around;
}
.searchBtn {
  width: 259px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19bce4;
  color: #fff;
}
#cons {
  width: 169px;
  height: 59px;
}
.sort1 {
  border: 0.5px solid #19bce4;
  width: 259px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1%;
  gap: 5px;
  border-radius: 0.5px;
}
.sort1 > p {
  margin-left: 1.5%;
}
.selectLocation {
  outline: none;
  border: none;
  flex: 1;
  font-size: 18px;
  width: 90%;
  padding: 0px;
}
.aboutUs {
  width: 100%;
  height: 826px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  width: 80%;
  height: 606px;

  display: flex;
  flex-direction: row;
}
.aboutLeft {
  background-image: url(./interior.jpg);
  background-size: cover;
  flex: 1;
  background-repeat: no-repeat;
  position: relative;
}
.leftMini {
  position: absolute;
  background-image: url(./smalljp.jpg);
  background-size: cover;
  width: 240px;
  height: 160px;
  top: 80%;
  left: 65%;
}
.aboutRight {
  flex: 1;
  padding: 1% 7%;
  display: flex;
  flex-direction: column;
}
.rightUp {
  flex: 1;
  flex-wrap: wrap;
}
.rightBtm {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.bottomRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
#supportsvg {
  width: 56px;
  height: 56px;
}
#spt {
  width: 56px;
  height: 56px;
}
