* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.navMenu {
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  width: 100%;
  height: 130px;
  display: flex;
  padding: 2%;
}
.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu {
  display: flex;
  flex: 4;
  flex-direction: row;
  align-items: center;
  padding: 0 4%;
  justify-content: space-around;
}

.genericButton {
  width: 96px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #19bce4;
  color: #fff;
  cursor: pointer;
}
.header {
  width: 100%;
  height: 700px;
  background-image: url(./newfig1.jpeg);
  background-size: cover;
  /* position: relative; */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.headerText {
  /* margin-top: -200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex-wrap: wrap;
  gap: 40px;
}
.searchdiv {
  width: 85%;
  display: flex;
  /* margin-top: 100px; */
  height: 118px;
  background-color: #fff;
  align-items: center;
  color: #000;
  justify-content: space-around;
}
.searchBtn {
  width: 259px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19bce4;
  color: #fff;
  cursor: pointer;
}
#cons {
  width: 169px;
  height: 59px;
}
.sort1 {
  border: 0.5px solid #19bce4;
  width: 259px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1%;
  gap: 5px;
  border-radius: 0.5px;
}
.sort1 > p {
  margin-left: 1.5%;
}
.selectLocation {
  outline: none;
  border: none;
  flex: 1;
  font-size: 18px;
  width: 90%;
  padding: 0px;
  cursor: pointer;
}
.aboutUs {
  width: 100%;
  height: 826px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  width: 80%;
  height: 606px;

  display: flex;
  flex-direction: row;
}
.aboutLeft {
  background-image: url(./interior.jpg);
  background-size: cover;
  flex: 1;
  background-repeat: no-repeat;
  position: relative;
}
.leftMini {
  position: absolute;
  background-image: url(./smalljp.jpg);
  background-size: cover;
  width: 240px;
  height: 160px;
  top: 80%;
  left: 65%;
}
.aboutRight {
  flex: 1;
  padding: 1% 7%;
  display: flex;
  flex-direction: column;
}
.rightUp {
  flex: 1;
  flex-wrap: wrap;
}
.rightBtm {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.bottomRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10%;
  cursor: pointer;
}

.supportsvg {
  width: 56px;
  height: 56px;
}
#spt {
  width: 56px;
  height: 56px;
}
.lookingFor {
  width: 100%;
  height: 800px;
  background-color: #f8fdfe;
  padding: 10% 10% 5% 10%;
}
.lookingforInfo {
  width: 100%;
  height: 520px;
  margin-top: 3%;
  /* background: #000; */
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.lookLeft {
  flex: 1;
  background-image: url(./R.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.lookRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.houseInfo {
  width: 100%;
  height: 118px;
  background: #fff;
  border: 0.5px solid #19bce4;
  display: flex;
  align-items: center;
  padding: 3%;
  gap: 3%;
  cursor: pointer;
}
.innerLooking {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  line-height: 100%;
}
.popularPlaces {
  width: 100%;
  height: 684px;
  padding: 8%;
  text-align: center;
}
.cities {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  padding: 3%;
  gap: 2.5%;
}
.citiesLeft {
  flex: 1;
  padding: 10%;
  background-image: url(./bangladesh.webp);
  background-size: cover;
  background-repeat: no-repeat;
  gap: 10%;
  position: relative;
}
.citiesRight {
  flex: 5;

  display: flex;
  flex-direction: column;
  gap: 5%;
}
.top {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 2.5%;
}
.btm {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 2.5%;
}
.ctyinfo {
  width: 100%;
  height: 100%;
  flex: 1;
}
#japan {
  background-image: url(./Japan.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#malasia {
  background-image: url(./Malasia.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#london {
  background-image: url(./London.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#india {
  background-image: url(./tajmahal.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.blur {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 40%;
  height: 40%;
  /* align-items: center; */
  justify-content: center;
  line-height: 140%;
  color: #fff;
  margin-top: 25%;
  margin-left: 30%;
  position: absolute;
  backdrop-filter: blur(7px) saturate(153%);
  -webkit-backdrop-filter: blur(7px) saturate(153%);
  background-color: rgba(143, 150, 160, 0.63);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  cursor: pointer;
}
#bangladesh {
  height: 20%;
  margin-left: 1%;
}
.whyChoose {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  padding: 10%;
  position: relative;
  background: #f8fdfe;
}
#read {
  height: 56px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team {
  position: absolute;
  width: 60%;
  right: 3%;
  bottom: 20%;
}
.peopleContainer {
  width: 100%;
  height: 720px;
  padding: 10%;
  background-color: #fff8f7;
}
