.container {
  width: fit-content;
  /* height: 100vh; */
  padding: 0;
  margin: auto;
  background-color: rgba(200, 200, 34, 0.082);
  display: inline-block;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;

  /* flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
}
.child {
  display: inline-block;
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 7px;
  margin: 20px;
  padding: 2%;
}
.child:hover {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5%;
}
.star {
  width: 8%;
  margin-top: 10px;
}
.title {
  margin: 10px 10px 10px 5px;
}
.imgcover {
  height: 15%;
  margin: 6px;
}
.imgdiv {
  width: 20%;
  height: 85%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.acc {
  width: 70%;
}
.tit {
  width: 100%;
  display: flex;
  align-items: center;
  height: 15%;
}
