.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgba(200, 200, 34, 0.082);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.child {
  display: inline-block;
  background-color: bisque;
  width: 30%;
  height: 300px;
  border-radius: 7px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5%;
}
.star {
  width: 8%;
  margin-top: 10px;
}
.title {
  margin: 10px 10px 10px 5px;
}
.imgcover {
  padding: 2%;
  height: 15%;
  margin: 6px;
}
.imgdiv {
  width: 20%;
  height: 85%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.acc {
  width: 70%;
}
